{
  "extends": ["eslint:recommended", "google", "plugin:meteor/recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha":true
  },
  "plugins": [
    "react",
    "meteor"
  ],

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  },
  "rules": {
    "indent": ["error", 2],
    "no-console": "off",
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "max-len": [
      "error",
      {
        "ignoreRegExpLiterals": true
      }
    ]
  }
}
